<form class="card w-100 shadow-lg row g-0 flex-row">
  <div class="col-md-12 mt-2">
    <div class="card-header fw-bold border-0">Details</div>
    <div class="card-body">
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="firstname">First name</label>
          <input class="form-control" id="first name" name="firstname" type="text" placeholder="Enter your first name"
            [(ngModel)]="user.firstname" required>
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="surname">Surname</label>
          <input class="form-control" id="surname" name="surname" type="text" placeholder="Enter your surname"
            [(ngModel)]="user.surname" required>
        </div>
      </div>
      <div class="row gx-3">
        <div class="col-md-4">
          <label class="small mb-1 fw-bold" for="email">Email address</label>
          <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email address"
            [(ngModel)]="user.email" required>
        </div>
        <div class="col-md-4">
          <label class="small mb-1 fw-bold" for="phone">Phone number</label>
          <input class="form-control" id="phone" name="phone" type="tel" placeholder="Enter your phone number"
            [(ngModel)]="user.phone" required>
        </div>
        <div class="col-md-4">
          <label class="small mb-1 fw-bold" for="nip">NIP</label>
          <input class="form-control" id="nip" name="nip" type="text" placeholder="Enter your NIP"
            [(ngModel)]="user.nip">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-3">
    <div class="card-header fw-bold border-0">Address</div>
    <div class="card-body">
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="firstname">City</label>
          <input class="form-control" id="firstname" name="firstname" type="text" placeholder="Enter your city"
            [(ngModel)]="user.city" required>
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="postalCode">Postal code</label>
          <input class="form-control" id="postalCode" name="postalCode" type="text" placeholder="Enter your postal code"
            [(ngModel)]="user.postalCode" required>
        </div>
      </div>
      <div class="row gx-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="street">Street</label>
          <input class="form-control" id="street" name="street" type="text" placeholder="Enter your street name"
            [(ngModel)]="user.street" required>
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="buildingNumber">Building number</label>
          <input class="form-control" id="buildingNumber" name="buildingNumber" type="text"
            placeholder="Enter your building number" [(ngModel)]="user.buildingNumber" required>
        </div>
      </div>
    </div>
  </div>

  <button class="col-auto btn btn-primary py-md-2 px-md-4 ms-3 mb-3" type="button" (click)="update()">Save</button>
</form>