<form class="card w-100 shadow-lg row g-0 flex-row">
  <div class="col-md-12 mt-2">
    <div class="card-header fw-bold border-0">Details</div>
    <div class="card-body">
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="firstname">First name</label>
          <input class="form-control" id="firstname" type="text" placeholder="Enter your first name" value="Valerie"
            required>
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="lastname">Last name</label>
          <input class="form-control" id="lastname" type="text" placeholder="Enter your last name" value="Luna"
            required>
        </div>
      </div>
      <div class="row gx-3">
        <div class="col-md-4">
          <label class="small mb-1 fw-bold" for="email">Email address</label>
          <input class="form-control" id="email" type="email" placeholder="Enter your email address"
            value="name@example.com" required>
        </div>
        <div class="col-md-4">
          <label class="small mb-1 fw-bold" for="phone">Phone number</label>
          <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number" value="555-123-4567"
            required>
        </div>
        <div class="col-md-4">
          <label class="small mb-1 fw-bold" for="nip">NIP</label>
          <input class="form-control" id="nip" type="text" placeholder="Enter your NIP" value="01234567890" required>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-3">
    <div class="card-header fw-bold border-0">Address</div>
    <div class="card-body">
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="firstname">City</label>
          <input class="form-control" id="firstname" type="text" placeholder="Enter your city" value="Warsaw" required>
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="postalCode">Postal code</label>
          <input class="form-control" id="postalCode" type="text" placeholder="Enter your postal code" value="04-007"
            required>
        </div>
      </div>
      <div class="row gx-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="street">Street</label>
          <input class="form-control" id="street" type="text" placeholder="Enter your street name" value="Sienkiewicza"
            required>
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="buildingNumber">Building number</label>
          <input class="form-control" id="buildingNumber" type="text" placeholder="Enter your building number"
            value="16b" required>
        </div>
      </div>
    </div>
  </div>

  <button class="col-auto btn btn-primary py-md-2 px-md-4 ms-3 mb-3" type="button">Save</button>
</form>