<div class="card w-100 shadow-lg">
  <div class="card-header fw-bold">Account details</div>
  <div class="card-body">
    <form>
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="firstname">First name</label>
          <input class="form-control" id="firstname" type="text" placeholder="Enter your first name" value="Valerie">
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="lastname">Last name</label>
          <input class="form-control" id="lastname" type="text" placeholder="Enter your last name" value="Luna">
        </div>
      </div>
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="email">Email address</label>
          <input class="form-control" id="email" type="email" placeholder="Enter your email address"
            value="name@example.com">
        </div>
        <div class="col-md-6">
          <label class="small mb-1 fw-bold" for="phone">Phone number</label>
          <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
        </div>
      </div>

      <button class="btn btn-primary py-md-2 px-md-4 ms-auto d-block" type="submit">Save changes</button>
    </form>
  </div>
</div>