<tn-header></tn-header>

<br />
<br />
<br />
<br />

<div class="container-xxl p-0 pt-5 my-5 position-relative">
  <h4>Available rooms</h4>
  <form class="row g-2 mt-2" [formGroup]="form">
    @if (errorMessage.length > 0) {
    <div class="mb-3 text-danger">{{ errorMessage }}</div>
    }
    <div class="col-md">
      <div class="row g-2">
        <div class="col-md">
          <div class="date" id="date1" data-target-input="nearest">
            <input type="date" class="form-control datetimepicker-input" placeholder="Check in" data-target="#date1"
              [min]="minDate" data-toggle="datetimepicker" id="start_date" name="start_date"
              formControlName="start_date" />
          </div>
        </div>
        <div class="col-md">
          <div class="date" id="date2" data-target-input="nearest">
            <input type="date" class="form-control datetimepicker-input" placeholder="Check out" data-target="#date2"
              [min]="minDate" data-toggle="datetimepicker" id="end_date" name="end_date" formControlName="end_date" />
          </div>
        </div>
        <div class="col-md">
          <input type="number" class="form-control" placeholder="Number of double beds" min="0"
            id="number_of_double_beds" name="number_of_double_beds" formControlName="number_of_double_beds" />
        </div>
        <div class="col-md">
          <input type="number" class="form-control" placeholder="Number of single beds" min="0"
            id="number_of_single_beds" name="number_of_single_beds" formControlName="number_of_single_beds" />
        </div>
        <div class="col-md">
          <input type="number" class="form-control" placeholder="Number of child beds" min="0" id="number_of_child_beds"
            name="number_of_child_beds" formControlName="number_of_child_beds" />
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <button class="btn btn-secondary text-black" (click)="clearFilters()" title="Clear filters">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
    <div class="col-md-auto">
      <button class="btn btn-primary" (click)="getRooms()">Filter</button>
    </div>
    @if (new_reservation_id) {
    <div class="col-md-auto">
      <a class="btn btn-primary" [routerLink]="['/reservations', new_reservation_id]">Reservation details</a>
    </div>
    }
  </form>

  <div class="row g-2">
    @if (authService.session?.is_admin) {
    <hr class="bg-black border-1 border-top border-black mt-5" />
    <div class="col-md">
      <label class="small mb-1 fw-bold" for="chosen_customer_id">Choose customer for who you are creating a
        reservation</label>
      <select [(ngModel)]="chosen_customer_id" class="form-select" name="chosen_customer_id">
        @for(customer of customers; track customer) {
        <option [ngValue]="customer.customer_id">{{ customersService.display(customer) }}</option>
        }
      </select>
    </div>
    <div class="col-md-auto mt-auto">
      <button class="btn btn-success btn-text w-100" (click)="show_add_customer = !show_add_customer">Create
        customer</button>
    </div>
    }
  </div>

  @if (authService.session?.is_admin && show_add_customer) {
  <form class="card shadow rounded row g-0 flex-row mb-3 mt-3" [formGroup]="formCustomer">
    <div class="col-md-12 mt-2">
      <div class="card-header fw-bold border-0">Customer details</div>
      <div class="card-body">
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="name">Name</label>
            <input class="form-control" id="name" name="name" formControlName="name" type="text"
              placeholder="Enter your name" required>
          </div>
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="surname">Surname</label>
            <input class="form-control" id="surname" name="surname" formControlName="surname" type="text"
              placeholder="Enter your surname" required>
          </div>
        </div>
        <div class="row gx-3">
          <div class="col-md-4">
            <label class="small mb-1 fw-bold" for="email">Email address</label>
            <input class="form-control" id="email" name="email" formControlName="email" type="email"
              placeholder="Enter your email address" required>
          </div>
          <div class="col-md-4">
            <label class="small mb-1 fw-bold" for="phone">Phone number</label>
            <input class="form-control" id="phone" name="phone" formControlName="phone" type="tel"
              placeholder="Enter your phone number" required>
          </div>
          <div class="col-md-4">
            <label class="small mb-1 fw-bold" for="nip">NIP</label>
            <input class="form-control" id="nip" name="nip" formControlName="nip" type="text"
              placeholder="Enter your NIP" required>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div class="card-header fw-bold border-0">Address</div>
      <div class="card-body">
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="city">City</label>
            <input class="form-control" id="city" name="city" formControlName="city" type="text"
              placeholder="Enter your city" required>
          </div>
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="postal_code">Postal code</label>
            <input class="form-control" id="postal_code" name="postal_code" formControlName="postal_code" type="text"
              placeholder="Enter your postal code" required>
          </div>
        </div>
        <div class="row gx-3">
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="street">Street</label>
            <input class="form-control" id="street" name="street" formControlName="street" type="text"
              placeholder="Enter your street name" required>
          </div>
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="building_number">Building number</label>
            <input class="form-control" id="building_number" name="building_number" formControlName="building_number"
              type="text" placeholder="Enter your building number" required>
          </div>
        </div>
      </div>
    </div>

    <button class="col-auto btn btn-primary py-md-2 px-md-4 ms-auto" type="button"
      (click)="createCustomer()">Create</button>

    <button class="col-auto btn btn-secondary text-black py-md-2 px-md-4 ms-3 me-3" type="button"
      (click)="show_add_customer = false">Cancel</button>

    <div class="col-md-12 mt-3">
      <div class="card-body">
        @if (customerErrorMessage.length > 0) {
        <div class="mb-3 text-danger">{{ customerErrorMessage }}</div>
        }

        @if (nameErrors.length > 0) {
        <div class="text-danger">Name must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of nameErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (surnameErrors.length > 0) {
        <div class="text-danger">Surname must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of surnameErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (phoneErrors.length > 0) {
        <div class="text-danger">Phone must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of phoneErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (nipErrors.length > 0) {
        <div class="text-danger">NIP must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of nipErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (cityErrors.length > 0) {
        <div class="text-danger">City must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of cityErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (postalCodeErrors.length > 0) {
        <div class="text-danger">Postal code must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of postalCodeErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (streetErrors.length > 0) {
        <div class="text-danger">Street must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of streetErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (buildingNumberErrors.length > 0) {
        <div class="text-danger">Building number must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of buildingNumberErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }
      </div>
    </div>
  </form>
  }

  @if (rooms.length === 0) {
  <h6 class="text-black-50 text-center mt-5 d-flex align-items-center justify-content-center">No available rooms found
  </h6>
  }
  <div class="row g-2 mt-2">
    @for (room of rooms; track room) {
    <tn-room [room]="room" [start_date]="start_date?.value ?? now" [end_date]="end_date?.value ?? now"
      [customer_id]="chosen_customer_id" class="col-lg-4" (roomBooked)="roomBooked($event)" />
    }
  </div>
</div>

<simple-notifications></simple-notifications>