<tn-header></tn-header>
<br />
<div class="container-xxl p-0 pt-5 my-5 position-relative">
  <form class="row g-2 mt-5" [formGroup]="form">
    <div class="col-md-11">
      <div class="row g-2">
        <div class="col-md">
          <div class="date" id="date1" data-target-input="nearest">
            <input type="date" class="form-control datetimepicker-input" placeholder="Check in" data-target="#date1"
              data-toggle="datetimepicker" id="start_date" name="start_date" formControlName="start_date">
          </div>
        </div>
        <div class="col-md">
          <div class="date" id="date2" data-target-input="nearest">
            <input type="date" class="form-control datetimepicker-input" placeholder="Check out" data-target="#date2"
              data-toggle="datetimepicker" id="end_date" name="end_date" formControlName="end_date">
          </div>
        </div>
        <div class="col-md">
          <input type="number" class="form-control" placeholder="Number of double beds" min="0" max="6"
            id="number_of_double_beds" name="number_of_double_beds" formControlName="number_of_double_beds" />
        </div>
        <div class="col-md">
          <input type="number" class="form-control" placeholder="Number of single beds" min="0" max="3"
            id="number_of_single_beds" name="number_of_single_beds" formControlName="number_of_single_beds" />
        </div>
        <div class="col-md">
          <input type="number" class="form-control" placeholder="Number of child beds" min="0" max="3"
            id="number_of_child_beds" name="number_of_child_beds" formControlName="number_of_child_beds" />
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary w-100" (click)="getRooms()">Filter</button>
    </div>
  </form>

  @if (rooms.length === 0) {
  <h6 class="text-black-50 text-center mt-5 d-flex align-items-center justify-content-center">No available rooms found
  </h6>
  }
  <div class="row g-2 mt-2">
    @for (room of rooms; track room) {
    <tn-room [room]="room" class="col-lg-4" />
    }
  </div>
</div>

<simple-notifications></simple-notifications>