@if (generatingScene) {
<div
  class="position-fixed z-index-1 top-50 start-50 translate-middle bg-black vw-100 vh-100 text-center vertical-middle">
  <div class="spinner-border text-primary position-absolute top-50" role="status"></div>
</div>
}

<a [routerLink]="['/home']" routerLinkActive="active">
  <img class="h-25 position-fixed top-0 start-0" src="assets/imgs/logo/logo.png" [alt]="appName" />
</a>

<div #container></div>

<div>
  @for (asset of assets; track asset) {
  <button
    class="asset border border-5 rounded-2 overflow-hidden position-fixed cursor-pointer shadow-lg bottom-0 ms-2 mb-2 p-0"
    (click)="moveToRoom(asset.roomNo)" [class.border-primary]="asset.roomNo === currentRoomNo"
    [title]="'Show room ' + asset.roomNo">
    <img [src]="asset.src" [alt]="asset.alt" />
  </button>
  }
</div>