<tn-header></tn-header>

<br />
<br />
<br />
<br />
<br />

<div class="container-xxl p-0 pt-5 my-5 position-relative">

  @if (authService.session?.is_admin) {
  <form class="card shadow rounded row g-0 flex-row mb-3" [formGroup]="form">
    <div class="col-md-12 mt-2">
      <div class="card-header fw-bold border-0">Customer details</div>
      <div class="card-body">
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="name">Name</label>
            <input class="form-control" id="name" name="name" formControlName="name" type="text"
              placeholder="Enter your name" required>
          </div>
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="surname">Surname</label>
            <input class="form-control" id="surname" name="surname" formControlName="surname" type="text"
              placeholder="Enter your surname" required>
          </div>
        </div>
        <div class="row gx-3">
          <div class="col-md-4">
            <label class="small mb-1 fw-bold" for="email">Email address</label>
            <input class="form-control" id="email" name="email" formControlName="email" type="email"
              placeholder="Enter your email address" required>
          </div>
          <div class="col-md-4">
            <label class="small mb-1 fw-bold" for="phone">Phone number</label>
            <input class="form-control" id="phone" name="phone" formControlName="phone" type="tel"
              placeholder="Enter your phone number" required>
          </div>
          <div class="col-md-4">
            <label class="small mb-1 fw-bold" for="nip">NIP</label>
            <input class="form-control" id="nip" name="nip" formControlName="nip" type="text"
              placeholder="Enter your NIP" required>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div class="card-header fw-bold border-0">Address</div>
      <div class="card-body">
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="city">City</label>
            <input class="form-control" id="city" name="city" formControlName="city" type="text"
              placeholder="Enter your city" required>
          </div>
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="postal_code">Postal code</label>
            <input class="form-control" id="postal_code" name="postal_code" formControlName="postal_code" type="text"
              placeholder="Enter your postal code" required>
          </div>
        </div>
        <div class="row gx-3">
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="street">Street</label>
            <input class="form-control" id="street" name="street" formControlName="street" type="text"
              placeholder="Enter your street name" required>
          </div>
          <div class="col-md-6">
            <label class="small mb-1 fw-bold" for="building_number">Building number</label>
            <input class="form-control" id="building_number" name="building_number" formControlName="building_number"
              type="text" placeholder="Enter your building number" required>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div class="card-body">
        @if (errorMessage.length > 0) {
        <div class="mb-3 text-danger">{{ errorMessage }}</div>
        }

        @if (nameErrors.length > 0) {
        <div class="text-danger">Name must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of nameErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (surnameErrors.length > 0) {
        <div class="text-danger">Surname must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of surnameErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (phoneErrors.length > 0) {
        <div class="text-danger">Phone must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of phoneErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (nipErrors.length > 0) {
        <div class="text-danger">NIP must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of nipErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (cityErrors.length > 0) {
        <div class="text-danger">City must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of cityErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (postalCodeErrors.length > 0) {
        <div class="text-danger">Postal code must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of postalCodeErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (streetErrors.length > 0) {
        <div class="text-danger">Street must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of streetErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        @if (buildingNumberErrors.length > 0) {
        <div class="text-danger">Building number must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of buildingNumberErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }
      </div>
    </div>
  </form>
  }
  <div class="room-item shadow rounded overflow-hidden mx-auto">
    <div class="position-relative">
      <img class="img-fluid" [src]="room.room_photos_dir" [alt]="'Room ' + room.room_id + ' preview'">
      <small class="position-absolute start-0 top-100 translate-middle-y bg-primary rounded py-1 px-3 ms-4 fw-bold">${{
        room.room_gross_price | number:'1.2-2'
        }}/Night</small>
    </div>
    <div class="p-4 mt-2">
      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">
          Room {{ room.room_id }}
        </h5>
      </div>
      <div class="d-flex mb-3 fs-7">
        @if (room.room_number_of_double_beds > 0) {
        <small class="me-2 pe-2"
          [class.border-end]="room.room_number_of_single_beds > 0 || room.room_number_of_child_beds > 0">
          <i class="bi bi-people text-primary me-2"></i>{{ room.room_number_of_double_beds }} Double beds
        </small>
        }
        @if (room.room_number_of_single_beds > 0) {
        <small class="me-2 pe-2" [class.border-end]="room.room_number_of_child_beds > 0">
          <i class="bi bi-person text-primary me-2"></i>{{ room.room_number_of_single_beds }} Single beds
        </small>
        }
        @if (room.room_number_of_child_beds > 0) {
        <small class="me-2 pe-2">
          <i class="bi bi-people text-primary me-2"></i>{{ room.room_number_of_child_beds }} Child beds
        </small>
        }
      </div>
      <p class="text-body mb-3">
        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
        diam sed stet lorem.
      </p>
      <h5>Total: <span class="text-success">{{ total | number:'1.2-2' }}$</span></h5>
      <h6>Additional services</h6>
      @for (serviceMgmt of servicesMgmt; track serviceMgmt) {
      <div class="form-check d-flex align-items-center mt-2">
        <input class="form-check-input mb-1" type="checkbox" [id]="serviceMgmt.id"
          (change)="onServiceChange($event, serviceMgmt.id, inputQuantity.valueAsNumber)" />
        <label class="form-check-label ms-2" [for]="serviceMgmt.id">
          {{ serviceMgmt.name }} <span class="text-success">{{ serviceMgmt.unit_price | number:'1.2-2' }}$ *</span>
        </label>
        <input #inputQuantity class="ms-2 form-control w-auto" type="number" min="1" placeholder="Quantity" required
          (change)="onQuantityChange($event, serviceMgmt.id)" />
      </div>
      }
      <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-primary py-md-2 px-md-4 mt-2" (click)="createReservation()">Submit</button>
      </div>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>