<tn-header></tn-header>

<div class="container-xl px-4 mt-4 d-flex justify-content-center align-items-center flex-column vw-100 vh-100 bg-white">
  <ul class="nav nav-tabs border-bottom-0">
    <li class="nav-tab">
      <a class="nav-link rounded-top-3 text-black" routerLink="details" routerLinkActive="active">Profile</a>
    </li>
    <li class="nav-tab">
      <a class="nav-link rounded-top-3 text-black" routerLink="security" routerLinkActive="active">Security</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>