<div class="card shadow-lg">
  <div class="card-header fw-bold border-0 mt-2">Change password</div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label class="small mb-1" for="oldPassword">Old password</label>
        <input class="form-control" id="oldPassword" name="oldPassword" type="password" formControlName="oldPassword"
          placeholder="Enter old password" required>
      </div>
      <div class="mb-3">
        <label class="small mb-1" for="newPassword">New password</label>
        <input class="form-control" id="newPassword" name="newPassword" type="password" formControlName="newPassword"
          placeholder="Enter new password" required>
      </div>
      <div class="mb-3">
        <label class="small mb-1" for="confirmPassword">Confirm password</label>
        <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
          formControlName="confirmPassword" placeholder="Confirm new password" required>
      </div>
      @if (errorMessage.length > 0) {
      <div class="mb-3 text-danger">{{ errorMessage }}</div>
      }

      @if (newPasswordErrors.length > 0) {
      <div class="text-danger">New password must conform rules</div>
      <ul class="text-danger ps-3">
        @for (error of newPasswordErrors; track error) {
        <li>{{ error }}</li>
        }
      </ul>
      }

      <button class="btn btn-primary py-md-2 px-md-4 d-block" type="button" (click)="changePassword()">Save</button>
    </form>
  </div>
</div>