<div class="card shadow-lg">
  <div class="card-header fw-bold border-0 mt-2">Change password</div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label class="small mb-1" for="currentPassword">Current password</label>
        <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
      </div>
      <div class="mb-3">
        <label class="small mb-1" for="newPassword">New password</label>
        <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
      </div>
      <div class="mb-3">
        <label class="small mb-1" for="confirmPassword">Confirm password</label>
        <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
      </div>

      <button class="btn btn-primary py-md-2 px-md-4 d-block" type="button">Save</button>
    </form>
  </div>
</div>