<div class="container-xl px-4 mt-4 d-flex justify-content-center align-items-center flex-column vw-100 vh-100 bg-white">
  <div class="card shadow-lg">
    <a [routerLink]="['/home']" routerLinkActive="active" class="d-flex justify-content-center">
      <img class="w-50" src="assets/imgs/logo/logo.png" [alt]="appName">
    </a>
    <div class="card-header fw-bold border-0 text-center fs-4">Reset password</div>
    <div class="card-body">
      <form [formGroup]="form" id="form">
        @if (!user_reset_password_code) {
        <div class="mb-3">
          <label class="small mb-1" for="email">Email address</label>
          <input class="form-control" id="email" name="email" type="email" formControlName="email"
            placeholder="Enter your email address" required autofocus #inputEmail>
        </div>
        } @else {
        <div class="mb-3">
          <label class="small mb-1" for="password">Password</label>
          <input class="form-control" id="password" name="password" type="password" formControlName="password"
            placeholder="Enter your password" required autofocus>
        </div>
        <div class="mb-3">
          <label class="small mb-1" for="confirmPassword">Confirm password</label>
          <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
            formControlName="confirmPassword" placeholder="Confirm your password" required>
        </div>
        }

        @if (errorMessage.length > 0) {
        <div class="mb-3 text-danger">{{ errorMessage }}</div>
        }

        @if (passwordErrors.length > 0) {
        <div class="text-danger">Password must conform rules</div>
        <ul class="text-danger ps-3">
          @for (error of passwordErrors; track error) {
          <li>{{ error }}</li>
          }
        </ul>
        }

        <button class="btn btn-primary py-md-2 px-md-4 d-block ms-auto" type="submit" (click)="submit()"
          form="form">Submit</button>
      </form>
    </div>
  </div>
  <div class="mt-2">
    Back to <a href="/sign-in" routerLinkActive="active">sign in</a>
  </div>
</div>